.women-flat {
  padding: 0 !important;

  .bags {
    width: 100%;
    height: 550px;
    background-image: url(../../../../assets/imgs/bags.jpeg);
    background-position: center center;
    background-size: cover;
  }

  p {
    font-weight: bold;
    max-width: 600px;
  }

}
