<section class="women-flat">
  <div class="row gy-5">
    <div class="col-md-8">
      <div class="bags">

      </div>
    </div>
    <div class="col-md-4">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="container">
          <p class="h1">ALL BRANDED WOMEN'S BAGS ARE FLAT <span class="discount-cash"> 30% DISCOUNT</span></p>
          <app-shop-btn class="align-self-start"></app-shop-btn>
        </div>
      </div>
    </div>
  </div>
</section>
