@import "../../../assets/style/colors";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Main Rules  */
.discount {
  text-decoration: line-through;
}
.quantityInput{
  width: 50px !important;
}
button {
  background-color: $mainColor;
  font-size: 16px;
  color: $lightColor;
  padding: 6px 15px;
  border: 2px solid $mainColor;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

  &:hover {
    color: white !important;
    background-color: $mainColor;
    border-color: $mainColor;
  }
}

.header-line {
  margin: 20px auto 0;
  height: 2px;
  width: 150px;
  background-color: $titleColor;
}

.sec-header h3 span {
  color: $titleColor;
}

/* Start freeShipping Style */

.free-shipping {
  background-color: $secondColor;
  color: $darkColor;
}

/* Start freeShipping Style */

/* Start products Style */

.products {
  img {
    width: 500px;
    height: 750px;
  }

  .video-box {
    position: relative;

    .btn-play {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.427);
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        background-color: $mainColor;
      }
    }
  }

  .product-box {
    img {
      width: 100px;
      height: 180px;
    }
  }
}

/* End products Style */

.categories {
  .col-6 {
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

    &:hover {
      background-color: $mainColor;

      .category-box {
        color: white !important;
      }
    }
  }
}

/* Start shopWithUs Style */

.shop-with-us {

  .product-container {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 180px;
      height: 230px;
      transition: all 0.8s;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -ms-transition: all 0.8s;
      -o-transition: all 0.8s;
    }

    .product-overlay {
      position: absolute;
      cursor: pointer;
      color: white;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      display: flex;
      overflow: hidden;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;

      .show-icon,
      .add-cart-icon {
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        background-color: white !important;
        color: $mainColor !important;

        &:hover {
          background-color: $mainColor !important;
          color: white !important;
        }
      }

      .show-icon {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
      }

      .add-cart-icon {
        transition: all 0.8s;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -ms-transition: all 0.8s;
        -o-transition: all 0.8s;
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }

      .product-overlay {
        opacity: 1;

        .show-icon,
        .add-cart-icon {
          transform: translateX(0px);
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          -ms-transform: translateX(0px);
          -o-transform: translateX(0px);
        }
      }
    }

  }

  .see-all {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

    a,
    button,
    mat-icon {
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }

    &:hover {
      mat-icon {
        margin-left: 10px;
      }

      a,
      mat-icon {
        color: $mainColor !important;
      }

    }
  }
}

/* End shopWithUs Style */

/* Start cashBack Style */

.cash-back {
  // background-color: $lightColor;
  background-image: url(../../../assets/imgs/banner3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    // z-index: 333333;
  }

  svg {
    position: absolute;
    bottom: 0;
  }

  .cash-img1 {
    width: 400px;
  }

  .cash-back-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    color: white;

    p {
      color: rgb(255, 255, 255) !important;
    }
  }

}

/* End chashBack Style */

::ng-deep .mdc-tab--active .mdc-tab__text-label {
  color: $mainColor !important;
}

::ng-deep .mat-mdc-tab-group.mat-accent .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border-color: $mainColor !important;
}
