<div class="sec-hero">
  <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
    <h2>Product</h2>
  </div>
</div>
<div class="all-products">
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer [mode]="mode" [opened]='isOpen' class="pt-4 mb-3 px-2">
      <div class="container">
        <h4>Filters</h4>
        <hr>
        <h5> Category</h5>
        <mat-radio-group (change)="filterProductsByCategory()" aria-labelledby="example-radio-group-label"
          class="example-radio- group" [(ngModel)]="category">
          <mat-radio-button class="example-radio-button" *ngFor="let category of allCategories" [value]="category">
            {{ category }}
          </mat-radio-button>
        </mat-radio-group>
        <hr>
        <h5>Price</h5>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="sort"
          (change)="sortByPrice()">
          <mat-radio-button checked class="example-radio-button" value="low">
            Low to high
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" value="high">
            High to low
          </mat-radio-button>
        </mat-radio-group>
        <div class="text-center">
          <button (click)="clearFilter()" class="btn mt-4 w-75 rounded-5" matRipple>Clear Filter</button>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content class="p-5">
      <div class="container">
        <button *ngIf="!isOpen" (click)="drawer.toggle()" class="btn border-0 d-flex align-items-center mb-5">
          Filters
          <mat-icon class="ms-2">tune</mat-icon>
        </button>
        <div *ngIf="category; then ByCategory; else all"></div>
      </div>
      <ng-template #all>
        <div class="row gy-5">
          <div *ngFor="let product of allProducts; let i=index" class="col-lg-3 col-md-4 col-sm-6 d-flex">
            <div class="w-100 p-2 d-flex flex-column justify-content-between align-items-center">
              <div class="product-container text-center">
                <img class="img-fluid rounded-2" [src]="product.image" alt />
                <div class="product-overlay p-3 rounded flex-column justify-content-end">
                  <div class="product-icons">
                    <div class="text-end">
                      <p class="show-icon d-inline-block bg-light text-dark p-2 rounded-circle">
                        <mat-icon class="fs-4" (click)="productId = product.id"
                          (click)="openProductDialog()">visibility</mat-icon>
                      </p>
                    </div>
                    <div class="mt-2 text-end">
                      <p class="add-cart-icon d-inline-block bg-light text-dark p-2 rounded-circle">
                        <mat-icon class="fs-4">favorite</mat-icon>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="mt-3 fs-5 text-center">{{ product.title }}</h5>
              <div class="mt-2 text-center">
                <p>
                  <span class="text-muted me-2 discount">{{
                    product.price + 23 | currency : "USD" : "symbol" : "1.1-1"
                    }}</span>{{ product.price | currency : "USD" : "symbol" }}
                </p>
                <app-cart-btn [i]="i" [cartProducts]="cartProducts" [productId]="product.id"></app-cart-btn>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #ByCategory>
        <div class="row gy-5">
          <div *ngFor="let product of productByCategory; let i = index" class="col-lg-3 col-md-4 col-sm-6 d-flex">
            <div class="w-100 p-2 d-flex flex-column justify-content-between align-items-center">
              <div class="product-container text-center">
                <img class="img-fluid" [src]="product.image" alt />
                <div class="product-overlay p-3 rounded flex-column justify-content-end">
                  <div class="product-icons">
                    <div class="text-end">
                      <p class="show-icon d-inline-block bg-light text-dark p-2 rounded-circle">
                        <mat-icon class="fs-4" (click)="productId = product.id"
                          (click)="openProductDialog()">visibility</mat-icon>
                      </p>
                    </div>
                    <div class="mt-2 text-end">
                      <p class="add-cart-icon d-inline-block bg-light text-dark p-2 rounded-circle">
                        <mat-icon class="fs-4">favorite</mat-icon>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="mt-3 fs-5 text-center">{{ product.title }}</h5>
              <div class="mt-2 text-center">
                <p>
                  <span class="text-muted me-2 discount">{{
                    product.price + 23 | currency : "USD" : "symbol" : "1.1-1"
                    }}</span>{{ product.price | currency : "USD" : "symbol" :
                  "1.1-1" }}
                </p>
                <app-cart-btn [i]="i" [cartProducts]="cartProducts" [productId]="product.id"></app-cart-btn>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<ngx-http-loader [opacity]="0.9" [title]="'E-Shop.com'" subTitle="Online Shop Store" [loader]="loader.ELLIPSIS"
  [iconColor]="'#E74646'" [backdropBackgroundColor]="'black'"> </ngx-http-loader>
