@import '../../../../assets/style/colors';

* {
  color: white !important;
}

.dark-active {
  background-color: #0000000b !important;
  padding: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  mat-icon {
    color: $bgDark !important;
  }
}

mat-toolbar {
  background-color: $mainColor !important;
  height: 80px;

  mat-icon {
    cursor: pointer;
    font-size: 35px !important;
  }

  .menu-btn {
    display: none !important;
  }
}

mat-list-item {
  overflow: visible;
  text-transform: capitalize;

  a {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
  }
}

.offcanvas {
  display: none;
  background-color: $mainColor;
  width: 280px;

  mat-list {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 600px) {
  mat-toolbar {
    mat-list {
      display: none !important;
    }
    .menu-btn {
      display: flex !important;
    }

  }
     .offcanvas {
       display: flex !important;
     }

}
