@import "../../../../assets/style/colors";
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');


footer {
  background-color: $secondColor;
  min-height: 400px;
  a {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

    &:hover {
      color: $mainColor !important;
    }
  }

  ul {
    margin-top: 26px;

    li {
      margin-bottom: 12px;
      font-weight: lighter;
      font-size: 14px;

      a {
        font-size: 14px;
        color: $darkColor;
      }

      mat-icon {
        font-size: 20px !important;
        margin-right: 10px;
      }
    }

  }

  p {
    font-size: 14px;

  }

  .contact mat-icon {
    color: $mainColor;
  }

  .rights {
    color: $mainColor;
  }

  .social-links a {
    font-size: 20px;
    margin-left: 10px;

  }
}
input:focus{
      box-shadow: 0 0 0 0.25rem #e7464671;
}
